<h2 mat-dialog-title>Dialog Title</h2>
<mat-dialog-content class="mat-typography">
	<form [formGroup]="form">
		<mat-form-field>
			<mat-label>Input</mat-label>
			<input matInput formControlName="input" />
		</mat-form-field>
		<mat-error *ngIf="inputControl.touched && inputControl.hasError('required')">This field is required</mat-error>
		<mat-error *ngIf="inputControl.touched && inputControl.hasError('maxlength')"
			>Max length is more that it is allowed</mat-error
		>
		<mat-form-field>
			<mat-label>Input2</mat-label>
			<input matInput formControlName="input2" />
		</mat-form-field>
		<mat-error *ngIf="inputControl2.touched && inputControl2.hasError('required')"
			>This field is required</mat-error
		>
		<mat-error *ngIf="inputControl2.touched && inputControl2.hasError('maxlength')"
			>Max length is more that it is allowed</mat-error
		>
		<mat-form-field>
			<mat-label>Enter a date range</mat-label>
			<mat-date-range-input [rangePicker]="picker" [formGroup]="dateRangeControl">
				<input matStartDate placeholder="Start date" formControlName="startDate" />
				<input matEndDate placeholder="End date" formControlName="endDate" />
			</mat-date-range-input>
			<mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
			<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-date-range-picker #picker></mat-date-range-picker>
			<mat-error *ngIf="startDateControl.touched && startDateControl.hasError('required')"
				>This field is required</mat-error
			>
			<mat-error *ngIf="endDateControl.touched && endDateControl.hasError('required')"
				>This field is required</mat-error
			>
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
	<button mat-button (click)="submit()">Submit</button>
</mat-dialog-actions>
