<div class="layout">
	<mat-toolbar color="primary">
		<span>Practical Angular Decorators</span>
		<span class="flex-spacer"></span>
		<button
			mat-flat-button
			routerLink="/complete"
			routerLinkActive="active"
			#complete="routerLinkActive"
			[color]="complete.isActive ? 'accent' : 'primary'"
		>
			Complete
		</button>
		<button
			mat-flat-button
			routerLink="/unsubscribe"
			routerLinkActive="active"
			#unsubscribe="routerLinkActive"
			[color]="unsubscribe.isActive ? 'accent' : 'primary'"
		>
			Unsubscribe
		</button>
		<button
			mat-flat-button
			routerLink="/validate-form"
			routerLinkActive="active"
			#validateForm="routerLinkActive"
			[color]="validateForm.isActive ? 'accent' : 'primary'"
		>
			Validate Form
		</button>
		<button
			mat-flat-button
			routerLink="/confirm"
			routerLinkActive="active"
			#confirm="routerLinkActive"
			[color]="confirm.isActive ? 'accent' : 'primary'"
		>
			Confirm
		</button>
	</mat-toolbar>
	<mat-drawer-container class="layout-content" autosize>
		<mat-drawer #drawer mode="side"></mat-drawer>
		<div class="layout-page">
			<router-outlet></router-outlet>
		</div>
	</mat-drawer-container>
</div>
