@use "@angular/material" as mat;

$theme: mat.define-dark-theme(
	(
		color: (
			primary: mat.define-palette(mat.$grey-palette),
			accent: mat.define-palette(mat.$blue-grey-palette),
		),
	)
);

@include mat.all-component-themes($theme);

/* Reset Styles */
*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h6,
p {
	margin: 0;
}

/* Global Styles */
html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

.layout-content {
	flex: 1;
}

.layout-page {
	padding: 30px;
}

.flex-spacer {
	flex: 1 1 auto;
}

.table-wrapper {
	position: relative;

	&.loading {
		&::before {
			content: "Loading...";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background-image: url("assets/spinner.gif");
			background-position-y: center;
			background-position-x: calc(50% - 70px);
			background-size: 100px;
			background-repeat: no-repeat;
			padding-left: 50px;
		}
	}

	table {
		min-height: 150px;
	}
}
